<section  mdbWavesEffect >

  <div class="view  jarallax fadeInDown" data-jarallax='{"speed": 0}'  style="background-image: url(/assets/sky.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
  <!-- Mask & flexbox options-->
    <div class="full-bg-img mask  waves-light" mdbWavesEffect>
      <!-- Content -->
      <div class="container flex-center">
          <div class="row pt-5 mt-3 w-100">
              <div class="col-md-12">
                  <div class="text-center">
                      <h2 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong>ONG</strong></h2>
                      <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
                      <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>Fundation I</strong></h5>
                      <a mdbBtn  color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s" mdbWavesEffect>Aportar</a>

                  </div>
              </div>
          </div>
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>

</section>
