 <!-- Intro Section -->


  <!-- Intro Section -->

  <section   >
    <div class="view  jarallax" style="background-image: url(/assets/sky.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <!-- Mask & flexbox options-->
      <div class="rgba-gradient full-bg-img  waves-light" mdbWavesEffect>
        <!-- Content -->
        <div class="container flex-center">
            <div class="row pt-5 mt-3 w-100">
                <div class="col-md-12">
                    <div class="text-center">
                        <h2 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong>ONG Demo UNO</strong></h2>
                        <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
                        <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>First Ong in Impulsa, human help and protection of childs.</strong></h5>
                        <a mdbBtn (click)="scroll('about')" color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s" mdbWavesEffect>About me</a>
                        <a  (click)="scroll('portafolio')" mdbBtn color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s" mdbWavesEffect>portfolio</a>

                    </div>
                </div>
            </div>
        </div>
        <!-- Content -->
      </div>
      <!-- Mask & flexbox options-->
    </div>

</section>




<div id="about"></div>
<main>
<div  class="container">
    <section class="text-center pb-3 my-5">

<!--Grid column-->

<div   class="col-lg-12 col-md- mb-lg-0 mb-4 px-5 mb-5 pb-3 wow fadeIn">
<!--Card-->
<mdb-card  class="testimonial-card waves-light" mdbWavesEffect>
  <!--Background color-->
  <div class="card-up demaro-gradient "></div>
  <!--Avatar-->
  <div class="avatar mx-auto white">


<div class="background"></div>


<div id="curve" mdbWavesEffect class=" card1 circle text-center rounded-circle waves-light">

  <img src="https://upload.wikimedia.org/wikipedia/commons/f/f2/LOGO-FUNDACION-UNIFRANZ-2017.png" class="demaro">


  <div class="footer">
      <div class="connections">
          <a href="https://github.com/Demaro" target="_blank" type="button" mdbBtn floating="true" size="sm" class="mx-1 mb-0 btn-fb connection github btn-fb1">
              <i class="fab fa-github"></i>
          </a>

          <a href="https://www.linkedin.com/in/demaro1/" target="_blank" type="button" mdbBtn floating="true" size="sm" class="mx-1 mb-0 btn-fb connection linkedin btn-fb3">
              <i class="fab fa-linkedin"></i>
          </a>
          <a href="" target="_blank" type="button" mdbBtn floating="true" size="sm" class="mx-1 mb-0 btn-fb connection instagram btn-fb2">
              <i class="fab fa-instagram"></i>
          </a>


          <div class="connection instagram"><div class="icon"></div></div>
          <div class="connection twitter"><div class="icon"></div></div>
          <div class="connection behance"><div class="icon"></div></div>
      </div>
      <svg id="curve">
          <path id="p" d="M0,200 Q80,100 400,200 V150 H0 V50" transform="translate(0 300)" />
          <rect id="dummyRect" x="0" y="0" height="450" width="400"
    fill="transparent" />
          <!-- slide up-->
          <animate xlink:href="#p" attributeName="d" to="M0,50 Q80,100 400,50 V150 H0 V50" fill="freeze" begin="dummyRect.mouseover" end="dummyRect.mouseout" dur="0.1s" id="bounce1" />
          <!-- slide up and curve in -->
          <animate xlink:href="#p" attributeName="d" to="M0,50 Q80,0 400,50 V150 H0 V50" fill="freeze" begin="bounce1.end" end="dummyRect.mouseout" dur="0.15s" id="bounce2" />
          <!-- slide down and curve in -->
          <animate xlink:href="#p" attributeName="d" to="M0,50 Q80,80 400,50 V150 H0 V50" fill="freeze" begin="bounce2.end" end="dummyRect.mouseout" dur="0.15s" id="bounce3" />
          <!-- slide down and curve out -->
          <animate xlink:href="#p" attributeName="d" to="M0,50 Q80,45 400,50 V150 H0 V50" fill="freeze" begin="bounce3.end" end="dummyRect.mouseout" dur="0.1s" id="bounce4" />
          <!-- curve in -->
          <animate xlink:href="#p" attributeName="d" to="M0,50 Q80,50 400,50 V150 H0 V50" fill="freeze" begin="bounce4.end" end="dummyRect.mouseout" dur="0.05s" id="bounce5" />

          <animate xlink:href="#p" attributeName="d" to="M0,200 Q80,100 400,200 V150 H0 V50" fill="freeze" begin="dummyRect.mouseout" dur="0.15s" id="bounceOut" />
      </svg>

  </div>
  <div class="card-blur"></div>
</div>


  </div>
  <mdb-card-body>

          <h5 class="font-weight-bold dark-grey-text my-1">ONG Demo UNO</h5>
          <h8 class="text-uppercase grey-text mb-1">
              <strong>sub title fundation</strong>
          </h8>

    <!--Quotation-->
    <p class="dark-grey-text mt-4">
      <i class="fas fa-quote-left pr-2"></i>

        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        adipisci.
        Porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        adipisci.
        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        adipisci.
        Porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        adipisci.

        <i class="fas fa-quote-right pr-2"></i>
    </p>
  </mdb-card-body>
</mdb-card>
<!--Card-->
</div>
<!--Grid column-->
<hr >

<!--Section: Features v.2-->
<section class="text-center">

<!--Section heading-->
<h2 class="h1 py-5 font-weight-bold wow fadeIn">Title B</h2>
<!--Section description-->
<p class="px-5 mb-5 pb-3 lead grey-text wow fadeIn">
Subtitle B
</p>

<!--Grid row-->
<div class="row text-left">
          <!--Grid column-->
          <div class="col-md-6 mb-4 wow fadeIn">
              <div class="col-1 col-md-2 float-left">
              <i class="fab fa-python python fa-4x"></i>
               </div>
              <div class="col-10 col-md-9 col-lg-10 float-right">
                  <h4 class="font-weight-bold">Mision</h4>
                  <p class="grey-text">
                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                    adipisci.
                    Porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                    adipisci.

                  </p>
                   <a mdbBtn color="indigo" size="sm" class="ml-0 waves-light" href="#" target="_blank"  mdbWavesEffect>Learn more</a>
               </div>
           </div>
           <!--Grid column-->

</div>
<!--Grid row-->

</section>
<!--Section: Features v.2-->
<hr >
<!--Projects section v.4-->
<section class="text-center pb-3">
<div id="portafolio"></div>
<!--Section heading-->
<h2 class="font-weight-bold h1 py-5 wow fadeIn">
<strong>Title C</strong>
</h2>
<!--Section description-->
<p class="grey-text pb-5 text-center wow fadeIn">
Sub title C
</p>

<!--Grid row-->
<div class="row">


<!--Grid column-->
<div class="col-md-6 mb-4 wow fadeIn ">
    <div class="card card-image waves-light" mdbWavesEffect style="background-image: url(assets/impulsa.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
            <div>
                <h6 class="orange-text">
                    <i class="fas fa-hand-holding-heart"></i>
                    <strong> Fundations - Red social </strong>
                </h6>
                <h3 class="py-3 font-weight-bold">
                    <strong>impulsa</strong>
                </h3>
                <p class="pb-3">
                    project in development,
                    which is to unite in a single platform to organizations without
                    ends of profit to achieve online positioning,
                    brand and image by presenting their mission and information on how to collaborate,
                    social network and support foundations.
                </p>
                <a mdbBtn color="orange" size="md" href="https://impulsa.herokuapp.com/#/" target="_blank" rounded="true" class="waves-light" mdbWavesEffect>
                    <i class="fa fa-eye left"></i> View project
                </a>
            </div>
        </div>
    </div>
</div>
<!--Grid column-->


</div>
<!--Grid row-->

</section>
<!--Projects section v.4-->

</section>
<!--Section: Features v.3-->

</div>

</main>



<section  mdbWavesEffect >

  <div class="view  jarallax fadeInDown waves-light"  style="background-image: url(/assets/sky.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
  <!-- Mask & flexbox options-->
    <div class="full-bg-img mask  " >
      <!-- Content -->
      <div class="container flex-center">
          <div class="row pt-5 mt-3 w-100">
              <div class="col-md-12">
                  <div class="text-center">
                      <h2 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong>ONG</strong></h2>
                      <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
                      <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>Fundation I</strong></h5>
                      <a mdbBtn  color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s" mdbWavesEffect>Aportar</a>

                  </div>
              </div>
          </div>
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>

</section>
