
.btn .fa {
  margin-left: 3px;
}

    .border-btn{
      border-radius: 30px;
    }

    .icon-btn {
      position: absolute;
      top: 0%;
      left: 0%;
  }


  .dark {
    background: linear-gradient(to right, #ff6b34eb 0, #ff7601, #fb5202 100%);
  }

  .logo-impulsa{

    width: 50%;
  }


.logo-size {
  width: 40%;
}
  @media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
      margin-left: -300px !important;
  }

  }


  @media (max-width: 768px) {
    .logo-impulsa{

      width: 50%;
    }


  }




