/* You can add global styles to this file, and also import other style files */
.intro-header {
  height: unset !important;
}
.top-nav-collapse {
  background: linear-gradient(to right, #ff6b34eb 0, #ff7601, #fb5202 100%);
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: linear-gradient(to right, #ff6b34eb 0, #ff7601, #fb5202 100%);
  }
  }


  .intro-2 {
    background: url("/assets/code.jpg")no-repeat center center;
    background-size: cover;

}

//@debugbackground:

.carousel-multi-item .controls-top .btn-floating {
  background: #fe7201 !important;
}

.carousel-multi-item .carousel-indicators .active {
  height: 1.56rem;
  width: 1.56rem;
  max-width: 1.56rem;
  background: #fe7201 !important;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.carousel-multi-item .carousel-indicators li {

  background: #fe7201 !important

}

.rgba-gradient .full-bg-img {
  background: linear-gradient(to right, #ff6b34eb 0, #ff7601, #fb5202 100%);
}
@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
      height: 700px;

  }

}

.carousel-control-prev, .carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3% !important;
  color: #fff;
  text-align: center;
  opacity: 0.5;
}
