/* You can add global styles to this file, and also import other style files */

$color-nav: linear-gradient(to right, #00364f 0, #2a5870cf, #234d61bf 100%) !important;
$inderect: #013750;

.intro-header {
  height: unset !important;
}
.top-nav-collapse {
  background: $color-nav
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: $color-nav
  }
  }


  .intro-2 {
    background: url("/assets/code.jpg")no-repeat center center;
    background-size: cover;

}

//@debugbackground:

.carousel-multi-item .controls-top .btn-floating {
  background: $inderect
}

.carousel-multi-item .carousel-indicators .active {
  height: 1.56rem;
  width: 1.56rem;
  max-width: 1.56rem;
  background: $inderect;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.carousel-multi-item .carousel-indicators li {

  background: $inderect

}

.rgba-gradient .full-bg-img {
  background: $color-nav
}
@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
      height: 1020px;

  }

}

.carousel-control-prev, .carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3% !important;
  color: #fff;
  text-align: center;
  opacity: 0.5;
}
