<!-- Intro Section -->


<!-- Intro Section -->


<!--
<section  mdbWavesEffect >

        <div class="view  jarallax" data-jarallax='{"speed": 0.2}'  style="background-image: url(/assets/code5.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">

          <div class="full-bg-img mask rgba-black-dark waves-light" mdbWavesEffect>

            <div class="container flex-center">
                <div class="row pt-5 mt-3 w-100">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h2 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong>Doge</strong></h2>
                            <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
                            <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>Doge Developer</strong></h5>
                            <a mdbBtn (click)="scroll('about')" color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s" mdbWavesEffect>About me</a>
                            <a  (click)="scroll('portafolio')" mdbBtn color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s" mdbWavesEffect>portfolio</a>

                        </div>
                    </div>
                </div>
            </div>

          </div>

        </div>

</section>


-->

<br>
<div id="about"></div>
<main>
    <div  class="container-fluid">
        <section class="pb-2 my-5">

  <!--Grid column-->
  <br>
  <div class="container">

      <div  class="col-lg-4 col-md-6 mb-lg-4 mb-2 pb-3 wow fadeIn">
          <!--Card-->
          <mdb-card  class="testimonial-card waves-light" mdbWavesEffect>
            <!--Avatar-->
            <div  class="card-up doge-gradient ">

            </div>


      <div class="avatar mx-auto white">
        <div class="background"></div>
        <div id="curve" mdbWavesEffect class="card1 circle text-center rounded-circle waves-light">
          <img src="assets/user-female.jpg" class="doge">
            <div class="card-blur"></div>
        </div>
      </div>

      <mdb-card-body><h5  class="font-weight-bold dark-grey-text my-1">Malu</h5>
        <h8 class="text-uppercase grey-text mb-1"><strong>graphic design</strong></h8>
        </mdb-card-body>
      <hr>
            <mdb-card-body>
                    <div class="wrapper">
                        <div class="social-icons">
                          <div class="icon ">
                              <a> <i [ngClass]="status ? 'fa fa-heart ': '  far fa-heart'" class="" (click)="toggleLikeState()"  tappable [@heart]="likeState" size="large" [name]="iconName"></i></a><h4>12.8k</h4>
                            <p>Corazones</p>
                          </div>
                          <div class="icon">
                            <a href="#"><i class="fas fa-hand-holding-heart"></i></a>
                            <h4>12.8k</h4>
                            <p>Aportes</p>
                          </div>
                          <div class="icon">
                            <a href="#" ><i class="fa fa-check"></i></a>
                            <h4>12.8k</h4>
                            <p>Firmas</p>
                          </div>
                        </div>
                      </div>
            </mdb-card-body>
          </mdb-card>
          <!--Card-->
        </div>


      <div  class="col-lg-4 col-md-6 mb-lg-4 mb-2 pb-3 wow fadeIn">
          <!--Card-->
          <mdb-card  class="testimonial-card waves-light" mdbWavesEffect>
            <!--Avatar-->
            <div  class="card-up doge-gradient ">

            </div>


      <div class="avatar mx-auto white">
        <div class="background"></div>
        <div id="curve" mdbWavesEffect class="card1 circle text-center rounded-circle waves-light">
          <img src="assets/user-male.jpg" class="doge">
            <div class="card-blur"></div>
        </div>
      </div>

      <mdb-card-body><h5  class="font-weight-bold dark-grey-text my-1">Demaro</h5>
        <h8 class="text-uppercase grey-text mb-1"><strong>Front-end Developer</strong></h8>
        </mdb-card-body>
      <hr>
            <mdb-card-body>
                    <div class="wrapper">
                        <div class="social-icons">
                          <div class="icon ">
                              <a> <i [ngClass]="status ? 'fa fa-heart ': '  far fa-heart'" class="" (click)="toggleLikeState()"  tappable [@heart]="likeState" size="large" [name]="iconName"></i></a><h4>12.8k</h4>
                            <p>Corazones</p>
                          </div>
                          <div class="icon">
                            <a href="#"><i class="fas fa-hand-holding-heart"></i></a>
                            <h4>12.8k</h4>
                            <p>Aportes</p>
                          </div>
                          <div class="icon">
                            <a href="#" ><i class="fa fa-check"></i></a>
                            <h4>12.8k</h4>
                            <p>Firmas</p>
                          </div>
                        </div>
                      </div>
            </mdb-card-body>
          </mdb-card>
          <!--Card-->
        </div>


        <div  class="col-lg-4 col-md-6 mb-lg-4 mb-2 pb-3 wow fadeIn">
            <!--Card-->
            <mdb-card  class="testimonial-card waves-light" mdbWavesEffect>
              <!--Avatar-->
              <div  class="card-up doge-gradient ">

              </div>


        <div class="avatar mx-auto white">
          <div class="background"></div>
          <div id="curve" mdbWavesEffect class="card1 circle text-center rounded-circle waves-light">
            <img src="assets/user-female.jpg" class="doge">
              <div class="card-blur"></div>
          </div>
        </div>

        <mdb-card-body><h5  class="font-weight-bold dark-grey-text my-1">Bel Bravo</h5>
          <h8 class="text-uppercase grey-text mb-1"><strong>Abogada</strong></h8>
          </mdb-card-body>
        <hr>
              <mdb-card-body>
                      <div class="wrapper">
                          <div class="social-icons">
                            <div class="icon ">
                                <a> <i [ngClass]="status ? 'fa fa-heart ': '  far fa-heart'" class="" (click)="toggleLikeState()"  tappable [@heart]="likeState" size="large" [name]="iconName"></i></a><h4>12.8k</h4>
                              <p>Corazones</p>
                            </div>
                            <div class="icon">
                              <a href="#"><i class="fas fa-hand-holding-heart"></i></a>
                              <h4>12.8k</h4>
                              <p>Aportes</p>
                            </div>
                            <div class="icon">
                              <a href="#" ><i class="fa fa-check"></i></a>
                              <h4>12.8k</h4>
                              <p>Firmas</p>
                            </div>
                          </div>
                        </div>
              </mdb-card-body>
            </mdb-card>
            <!--Card-->
          </div>





        <div class="col-md-4">

        </div>

      </div>


  <!--Grid column-->
  <hr >
<!--Section: Features v.2-->

<!--Section: Features v.2-->
<hr >
<!--Projects section v.4-->

<!--Projects section v.4-->

</section>
<!--Section: Features v.3-->

</div>

</main>
