<!-- Intro Section -->


<!-- Intro Section -->


<!--
<section  mdbWavesEffect >

        <div class="view  jarallax" data-jarallax='{"speed": 0.2}'  style="background-image: url(/assets/code5.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">

          <div class="full-bg-img mask rgba-black-dark waves-light" mdbWavesEffect>

            <div class="container flex-center">
                <div class="row pt-5 mt-3 w-100">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h2 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong>Doge</strong></h2>
                            <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
                            <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>Doge Developer</strong></h5>
                            <a mdbBtn (click)="scroll('about')" color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s" mdbWavesEffect>About me</a>
                            <a  (click)="scroll('portafolio')" mdbBtn color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s" mdbWavesEffect>portfolio</a>

                        </div>
                    </div>
                </div>
            </div>

          </div>

        </div>

</section>


-->

<div class="container">

<!--Section: Products v.2-->
<!--Section: Products v.5-->
<section class="text-center pb-3 my-5">
  <!--Section heading-->
  <h2 class="h1 py-5">Ultimos productos</h2>
  <!--Section description-->
  <p class="grey-text pb-5">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam
</p>


  <!--Carousel Wrapper-->
  <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation " [type]="'carousel-multi-item'"
    [animation]="'slide'">
    <!--First slide-->
    <mdb-slide>
      <div class="col-md-4">
        <!--Card-->

        <mdb-card cascade="true" narrower="true" class="card-ecommerce">
            <!--Card image-->

            <div class="testimonial-card view view-cascade overlay waves-light" mdbWavesEffect>

              <div >

                  <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
                  alt="sample photo">

                </mdb-card-img>
                </div>



              <a>
                <div class="mask waves-effect waves-light">
                </div>
              </a>
            </div>
                <div id="curve" mdbWavesEffect class="card1 circle text-center rounded-circle ">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/f/f2/LOGO-FUNDACION-UNIFRANZ-2017.png" class="logo-fundation waves-light">


                </div>

            <!--Card image-->
            <!--Card content-->
            <mdb-card-body cascade="true" class="mdcard-body text-center no-padding">


              <!--Category & Title-->
              <a href="" class="text-muted">
                <h5>Shoes</h5>
              </a>
              <br>
              <!--Description-->
              <mdb-card-text>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                adipisci.
              </mdb-card-text>
              <!--Card footer-->



              <mdb-card-footer>
                  <span class="float-left">
                      <div class="wrapper">
                          <div class="social-icons">

                                <a> <i [ngClass]="status1 ? 'fa fa-heart ': '  far fa-heart'" class="" (click)="toggleLikeState()"  tappable [@heart]="likeState1" size="large" [name]="iconName"></i>
                                  &nbsp;
                                </a><h8>12.8k</h8>
                                &nbsp;
                              <p>Me gusta</p>
                          </div>
                        </div>
                  </span>

                <span class="float-right"> <strong> $ 13.000</strong>

                </span>




              </mdb-card-footer>

            </mdb-card-body>


            <!--Card content-->
          </mdb-card>

        <!--Card-->
      </div>

      <div class="col-md-4 clearfix d-none d-md-block">
        <!--Card-->

        <mdb-card cascade="true" narrower="true" class="card-ecommerce">
            <!--Card image-->

            <div class="testimonial-card view view-cascade overlay waves-light" mdbWavesEffect>

              <div >

                  <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(5).jpg"
                  alt="sample photo">

                </mdb-card-img>
                </div>



              <a>
                <div class="mask waves-effect waves-light">
                </div>
              </a>
            </div>
                <div id="curve" mdbWavesEffect class="card1 circle text-center rounded-circle ">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/f/f2/LOGO-FUNDACION-UNIFRANZ-2017.png" class="logo-fundation waves-light">


                </div>

            <!--Card image-->
            <!--Card content-->
            <mdb-card-body cascade="true" class="mdcard-body text-center no-padding">


              <!--Category & Title-->
              <a href="" class="text-muted">
                <h5>Shoes</h5>
              </a>
              <br>
              <mdb-card-title>

              </mdb-card-title>
              <!--Description-->
              <mdb-card-text>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                adipisci.
              </mdb-card-text>
              <!--Card footer-->


              <mdb-card-footer>
                  <span class="float-left">
                      <div class="wrapper">
                          <div class="social-icons">

                                <a> <i [ngClass]="status1 ? 'fa fa-heart ': '  far fa-heart'" class="" (click)="toggleLikeState()"  tappable [@heart]="likeState1" size="large" [name]="iconName"></i>
                                  &nbsp;
                                </a><h8>120</h8>
                                &nbsp;
                              <p>Me gusta</p>
                          </div>
                        </div>
                  </span>

                <span class="float-right"> <strong> $ 6.000</strong>

                </span>


              </mdb-card-footer>

            </mdb-card-body>


            <!--Card content-->
          </mdb-card>
        <!--Card-->
      </div>

      <div class="col-md-4 clearfix d-none d-md-block">
          <!--Card-->

          <mdb-card cascade="true" narrower="true" class="card-ecommerce">
              <!--Card image-->

              <div class="testimonial-card view view-cascade overlay waves-light" mdbWavesEffect>

                <div >

                    <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
                    alt="sample photo">

                  </mdb-card-img>
                  </div>



                <a>
                  <div class="mask waves-effect waves-light">
                  </div>
                </a>
              </div>
                  <div id="curve" mdbWavesEffect class="card1 circle text-center rounded-circle ">
                      <img src="https://upload.wikimedia.org/wikipedia/commons/f/f2/LOGO-FUNDACION-UNIFRANZ-2017.png" class="logo-fundation waves-light">


                  </div>

              <!--Card image-->
              <!--Card content-->
              <mdb-card-body cascade="true" class="mdcard-body text-center no-padding">


                <!--Category & Title-->
                <a href="" class="text-muted">
                  <h5>Shoes</h5>
                </a>
                <br>
                <mdb-card-title>
                </mdb-card-title>
                <!--Description-->
                <mdb-card-text>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                  adipisci.
                </mdb-card-text>
                <!--Card footer-->


                <mdb-card-footer>
                    <span class="float-left">
                        <div class="wrapper">
                            <div class="social-icons">

                                  <a> <i [ngClass]="status1 ? 'fa fa-heart ': '  far fa-heart'" class="" (click)="toggleLikeState()"  tappable [@heart]="likeState1" size="large" [name]="iconName"></i>
                                    &nbsp;
                                  </a><h8>300</h8>
                                  &nbsp;
                                <p>Me gusta</p>
                            </div>
                          </div>
                    </span>

                  <span class="float-right"> <strong> $ 19.000</strong>

                  </span>

                </mdb-card-footer>

              </mdb-card-body>


              <!--Card content-->
            </mdb-card>
          <!--Card-->
        </div>
    </mdb-slide>
    <!--/First slide-->
    <!--Second slide-->
    <mdb-slide>
      <div class="col-md-4">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">
            <!--Card image-->

            <div class="testimonial-card view view-cascade overlay waves-light" mdbWavesEffect>

              <div >

                  <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/belt.jpg"
                  alt="sample photo">

                </mdb-card-img>
                </div>



              <a>
                <div class="mask waves-effect waves-light">
                </div>
              </a>
            </div>
                <div id="curve" mdbWavesEffect class="card1 circle text-center rounded-circle ">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/f/f2/LOGO-FUNDACION-UNIFRANZ-2017.png" class="logo-fundation waves-light">


                </div>

            <!--Card image-->
            <!--Card content-->
            <mdb-card-body cascade="true" class="mdcard-body text-center no-padding">


              <!--Category & Title-->
              <a href="" class="text-muted">
                <h5>Shoes</h5>
              </a>
              <br>
              <mdb-card-title>

              </mdb-card-title>
              <!--Description-->
              <mdb-card-text>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                adipisci.
              </mdb-card-text>
              <!--Card footer-->


              <mdb-card-footer>
                  <span class="float-left">
                      <div class="wrapper">
                          <div class="social-icons">

                                <a> <i [ngClass]="status1 ? 'fa fa-heart ': '  far fa-heart'" class="" (click)="toggleLikeState()"  tappable [@heart]="likeState1" size="large" [name]="iconName"></i>
                                  &nbsp;
                                </a><h8>900</h8>
                                &nbsp;
                              <p>Me gusta</p>
                          </div>
                        </div>
                  </span>

                <span class="float-right"> <strong> $ 19.000</strong>

                </span>


              </mdb-card-footer>

            </mdb-card-body>


            <!--Card content-->
          </mdb-card>
        <!--Card-->
      </div>
      <div class="col-md-4 clearfix d-none d-md-block">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">
            <!--Card image-->

            <div class="testimonial-card view view-cascade overlay waves-light" mdbWavesEffect>

              <div >

                  <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/belt.jpg"
                  alt="sample photo">

                </mdb-card-img>
                </div>



              <a>
                <div class="mask waves-effect waves-light">
                </div>
              </a>
            </div>
                <div id="curve" mdbWavesEffect class="card1 circle text-center rounded-circle ">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/f/f2/LOGO-FUNDACION-UNIFRANZ-2017.png" class="logo-fundation waves-light">


                </div>

            <!--Card image-->
            <!--Card content-->
            <mdb-card-body cascade="true" class="mdcard-body text-center no-padding">


              <!--Category & Title-->
              <a href="" class="text-muted">
                <h5>Shoes</h5>
              </a>
              <br>
              <mdb-card-title>

              </mdb-card-title>
              <!--Description-->
              <mdb-card-text>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                adipisci.
              </mdb-card-text>
              <!--Card footer-->


              <mdb-card-footer>
                  <span class="float-left">
                      <div class="wrapper">
                          <div class="social-icons">

                                <a> <i [ngClass]="status1 ? 'fa fa-heart ': '  far fa-heart'" class="" (click)="toggleLikeState()"  tappable [@heart]="likeState1" size="large" [name]="iconName"></i>
                                  &nbsp;
                                </a><h8>630</h8>
                                &nbsp;
                              <p>Me gusta</p>
                          </div>
                        </div>
                  </span>

                <span class="float-right"> <strong> $ 16.000</strong>

                </span>


              </mdb-card-footer>

            </mdb-card-body>


            <!--Card content-->
          </mdb-card>
        <!--Card-->
      </div>
      <div class="col-md-4 clearfix d-none d-md-block">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">
            <!--Card image-->

            <div class="testimonial-card view view-cascade overlay waves-light" mdbWavesEffect>

              <div >

                  <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(4).jpg"
                  alt="sample photo">

                </mdb-card-img>
                </div>



              <a>
                <div class="mask waves-effect waves-light">
                </div>
              </a>
            </div>
                <div id="curve" mdbWavesEffect class="card1 circle text-center rounded-circle ">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/f/f2/LOGO-FUNDACION-UNIFRANZ-2017.png" class="logo-fundation waves-light">


                </div>

            <!--Card image-->
            <!--Card content-->
            <mdb-card-body cascade="true" class="mdcard-body text-center no-padding">


              <!--Category & Title-->
              <a href="" class="text-muted">
                <h5>Shoes</h5>
              </a>
              <br>
              <mdb-card-title>
              </mdb-card-title>
              <!--Description-->
              <mdb-card-text>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                adipisci.
              </mdb-card-text>
              <!--Card footer-->


              <mdb-card-footer>
                  <span class="float-left">
                      <div class="wrapper">
                          <div class="social-icons">

                                <a> <i [ngClass]="status1 ? 'fa fa-heart ': '  far fa-heart'" class="" (click)="toggleLikeState()"  tappable [@heart]="likeState1" size="large" [name]="iconName"></i>
                                  &nbsp;
                                </a><h8>360</h8>
                                &nbsp;
                              <p>Me gusta</p>
                          </div>
                        </div>
                  </span>

                <span class="float-right"> <strong> $ 9.000</strong>

                </span>


              </mdb-card-footer>

            </mdb-card-body>


            <!--Card content-->
          </mdb-card>
        <!--Card-->
      </div>
    </mdb-slide>
    <!--/Second slide-->
    <!--Third slide-->
    <mdb-slide>
      <div class="col-md-4">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">
            <!--Card image-->

            <div class="testimonial-card view view-cascade overlay waves-light" mdbWavesEffect>

              <div >

                  <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
                  alt="sample photo">

                </mdb-card-img>
                </div>



              <a>
                <div class="mask waves-effect waves-light">
                </div>
              </a>
            </div>
                <div id="curve" mdbWavesEffect class="card1 circle text-center rounded-circle ">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/f/f2/LOGO-FUNDACION-UNIFRANZ-2017.png" class="logo-fundation waves-light">


                </div>

            <!--Card image-->
            <!--Card content-->
            <mdb-card-body cascade="true" class="mdcard-body text-center no-padding">


              <!--Category & Title-->
              <a href="" class="text-muted">
                <h5>Shoes</h5>
              </a>
              <br>
              <mdb-card-title>

              </mdb-card-title>
              <!--Description-->
              <mdb-card-text>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                adipisci.
              </mdb-card-text>
              <!--Card footer-->


              <mdb-card-footer>
                  <span class="float-left">
                      <div class="wrapper">
                          <div class="social-icons">

                                <a> <i [ngClass]="status1 ? 'fa fa-heart ': '  far fa-heart'" class="" (click)="toggleLikeState()"  tappable [@heart]="likeState1" size="large" [name]="iconName"></i>
                                  &nbsp;
                                </a><h8>169</h8>
                                &nbsp;
                              <p>Me gusta</p>
                          </div>
                        </div>
                  </span>

                <span class="float-right"> <strong> $ 13.000</strong>

                </span>


              </mdb-card-footer>

            </mdb-card-body>


            <!--Card content-->
          </mdb-card>
        <!--Card-->
      </div>
      <div class="col-md-4 clearfix d-none d-md-block">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">
            <!--Card image-->

            <div class="testimonial-card view view-cascade overlay waves-light" mdbWavesEffect>

              <div >

                  <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
                  alt="sample photo">

                </mdb-card-img>
                </div>



              <a>
                <div class="mask waves-effect waves-light">
                </div>
              </a>
            </div>
                <div id="curve" mdbWavesEffect class="card1 circle text-center rounded-circle ">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/f/f2/LOGO-FUNDACION-UNIFRANZ-2017.png" class="logo-fundation waves-light">


                </div>

            <!--Card image-->
            <!--Card content-->
            <mdb-card-body cascade="true" class="mdcard-body text-center no-padding">


              <!--Category & Title-->
              <a href="" class="text-muted">
                <h5>Shoes</h5>
              </a>
              <br>
              <mdb-card-title>

              </mdb-card-title>
              <!--Description-->
              <mdb-card-text>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                adipisci.
              </mdb-card-text>
              <!--Card footer-->


              <mdb-card-footer>
                  <span class="float-left">
                      <div class="wrapper">
                          <div class="social-icons">

                                <a> <i [ngClass]="status1 ? 'fa fa-heart ': '  far fa-heart'" class="" (click)="toggleLikeState()"  tappable [@heart]="likeState1" size="large" [name]="iconName"></i>
                                  &nbsp;
                                </a><h8>96</h8>
                                &nbsp;
                              <p>Me gusta</p>
                          </div>
                        </div>
                  </span>

                <span class="float-right"> <strong> $ 16.000</strong>

                </span>

              </mdb-card-footer>

            </mdb-card-body>


            <!--Card content-->
          </mdb-card>
        <!--Card-->
      </div>
      <div class="col-md-4 clearfix d-none d-md-block">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">
            <!--Card image-->

            <div class="testimonial-card view view-cascade overlay waves-light" mdbWavesEffect>

              <div >

                  <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(4).jpg"
                  alt="sample photo">

                </mdb-card-img>
                </div>



              <a>
                <div class="mask waves-effect waves-light">
                </div>
              </a>
            </div>
                <div id="curve" mdbWavesEffect class="card1 circle text-center rounded-circle ">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/f/f2/LOGO-FUNDACION-UNIFRANZ-2017.png" class="logo-fundation waves-light">


                </div>

            <!--Card image-->
            <!--Card content-->
            <mdb-card-body cascade="true" class="mdcard-body text-center no-padding">


              <!--Category & Title-->
              <a href="" class="text-muted">
                <h5>Shoes</h5>
              </a>
              <br>
              <mdb-card-title>

              </mdb-card-title>
              <!--Description-->
              <mdb-card-text>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                adipisci.
              </mdb-card-text>
              <!--Card footer-->


              <mdb-card-footer>
                  <span class="float-left">
                      <div class="wrapper">
                          <div class="social-icons">

                                <a> <i [ngClass]="status1 ? 'fa fa-heart ': '  far fa-heart'" class="" (click)="toggleLikeState()"  tappable [@heart]="likeState1" size="large" [name]="iconName"></i>
                                  &nbsp;
                                </a><h8>12.8k</h8>
                                &nbsp;
                              <p>Me gusta</p>
                          </div>
                        </div>
                  </span>

                <span class="float-right"> <strong> $ 13.000</strong>

                </span>


              </mdb-card-footer>

            </mdb-card-body>


            <!--Card content-->
          </mdb-card>
        <!--Card-->
      </div>
    </mdb-slide>
    <!--/Third slide-->
  </mdb-carousel>
  <!--/.Carousel Wrapper-->

</section>
<!--Section: Products v.5-->
</div>

  <!--Section: Products v.2-->


  <!--
<main>
    <div  class="container-fluid">
        <section class="pb-2 my-5">

  <br>
  <div class="container">

      <div  class="col-lg-4 col-md-6 mb-lg-4 mb-2 pb-3 wow fadeIn">

          <mdb-card  class="testimonial-card waves-light" mdbWavesEffect>

            <div  class="card-up doge-gradient ">

            </div>


      <div class="avatar mx-auto white">
        <div class="background"></div>
        <div id="curve" mdbWavesEffect class="card1 circle text-center rounded-circle waves-light">
          <img src="assets/user-female.jpg" class="doge">
            <div class="card-blur"></div>
        </div>
      </div>

      <mdb-card-body><h5  class="font-weight-bold dark-grey-text my-1">Malu</h5>
        <h8 class="text-uppercase grey-text mb-1"><strong>graphic design</strong></h8>
        </mdb-card-body>
      <hr>
            <mdb-card-body>
                    <div class="wrapper">
                        <div class="social-icons">
                          <div class="icon ">
                              <a> <i [ngClass]="status1 ? 'fa fa-heart heart-liked': '  far fa-heart '" class="" (click)="toggleLikeState()"  tappable [@heart]="likeState1" size="large" [name]="iconName"></i></a><h4>12.8k</h4>
                            <p>Corazones</p>
                          </div>
                          <div class="icon">
                            <a href="#"><i class="fas fa-hand-holding-heart"></i></a>
                            <h4>12.8k</h4>
                            <p>Aportes</p>
                          </div>
                          <div class="icon">
                            <a href="#" ><i class="fa fa-check"></i></a>
                            <h4>12.8k</h4>
                            <p>Firmas</p>
                          </div>
                        </div>
                      </div>
            </mdb-card-body>
          </mdb-card>

        </div>


      <div  class="col-lg-4 col-md-6 mb-lg-4 mb-2 pb-3 wow fadeIn">

          <mdb-card  class="testimonial-card waves-light" mdbWavesEffect>

            <div  class="card-up doge-gradient ">

            </div>


      <div class="avatar mx-auto white">
        <div class="background"></div>
        <div id="curve" mdbWavesEffect class="card1 circle text-center rounded-circle waves-light">
          <img src="assets/user-male.jpg" class="doge">
            <div class="card-blur"></div>
        </div>
      </div>

      <mdb-card-body><h5  class="font-weight-bold dark-grey-text my-1">Demaro</h5>
        <h8 class="text-uppercase grey-text mb-1"><strong>Front-end Developer</strong></h8>
        </mdb-card-body>
      <hr>
            <mdb-card-body>
                    <div class="wrapper">
                        <div class="social-icons">
                          <div class="icon ">
                              <a> <i [ngClass]="status2 ? 'fa fa-heart ': '  far fa-heart'" class="" (click)="toggleLikeState()"  tappable [@heart]="likeState2" size="large" [name]="iconName"></i></a><h4>12.8k</h4>
                            <p>Corazones</p>
                          </div>
                          <div class="icon">
                            <a href="#"><i class="fas fa-hand-holding-heart"></i></a>
                            <h4>12.8k</h4>
                            <p>Aportes</p>
                          </div>
                          <div class="icon">
                            <a href="#" ><i class="fa fa-check"></i></a>
                            <h4>12.8k</h4>
                            <p>Firmas</p>
                          </div>
                        </div>
                      </div>
            </mdb-card-body>
          </mdb-card>

        </div>


        <div  class="col-lg-4 col-md-6 mb-lg-4 mb-2 pb-3 wow fadeIn">

            <mdb-card  class="testimonial-card waves-light" mdbWavesEffect>

              <div  class="card-up doge-gradient ">

              </div>


        <div class="avatar mx-auto white">
          <div class="background"></div>
          <div id="curve" mdbWavesEffect class="card1 circle text-center rounded-circle waves-light">
            <img src="assets/user-female.jpg" class="doge">
              <div class="card-blur"></div>
          </div>
        </div>

        <mdb-card-body><h5  class="font-weight-bold dark-grey-text my-1">Bel Bravo</h5>
          <h8 class="text-uppercase grey-text mb-1"><strong>Abogada</strong></h8>
          </mdb-card-body>
        <hr>
              <mdb-card-body>
                      <div class="wrapper">
                          <div class="social-icons">
                            <div class="icon ">
                                <a> <i [ngClass]="status3 ? 'fa fa-heart ': '  far fa-heart'" class="" (click)="toggleLikeState()"  tappable [@heart]="likeState3" size="large" [name]="iconName"></i></a><h4>12.8k</h4>
                              <p>Corazones</p>
                            </div>
                            <div class="icon">
                              <a href="#"><i class="fas fa-hand-holding-heart"></i></a>
                              <h4>12.8k</h4>
                              <p>Aportes</p>
                            </div>
                            <div class="icon">
                              <a href="#" ><i class="fa fa-check"></i></a>
                              <h4>12.8k</h4>
                              <p>Firmas</p>
                            </div>
                          </div>
                        </div>
              </mdb-card-body>
            </mdb-card>

          </div>





        <div class="col-md-4">

        </div>

      </div>



</section>



</div>



</main>
-->
